/*!
Theme Name: GetIt
Theme URI: http://prollective.com
Author: Prollective
Author URI: http://prollective.com
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: getit
Tags:

*/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: 'Open Sans', sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  font-weight: 400;
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: 700;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: 700;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #333;
  font-size: .9em;
  line-height: 1.4;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 1em;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  -webkit-font-smoothing: antialiased;
}
/* Home */
.home {
  background-color: #f4f4f4;
}
.home .site {
  background-color: #fff;
  margin: 20px auto;
  padding-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .home {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .home .site {
    margin-top: 40px;
  }
}
/* Confirmation */
.page-template-page-confirmation .gradient {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#304d32+0,318445+100 */
  background: #304d32;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #304d32 0%, #318445 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #304d32 0%, #318445 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#304d32', endColorstr='#318445', GradientType=0);
  /* IE6-9 */
  z-index: 1;
}
.page-template-page-confirmation .content-area {
  position: relative;
  z-index: 2;
  color: #fff;
}
.confirmation .title {
  font-size: 15px;
  font-weight: bold;
  border: 5px solid #fff;
  padding: 10px;
  margin: 20px;
  text-align: center;
}
.confirmation .content {
  text-align: center;
  padding: 0 20px 20px 20px;
}
.confirmation .iphone {
  text-align: center;
}
.confirmation .iphone img {
  max-width: 70%;
  height: auto;
  margin: 0 auto;
}
@media only screen and (min-width: 480px) {
  .confirmation .title {
    font-size: 26px;
    padding: 20px;
    margin: 40px 0;
  }
  .confirmation .iphone {
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .confirmation .title {
    font-size: 30px;
  }
  .confirmation .content {
    padding-bottom: 40px;
  }
}
/* Cta */
.cta {
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
.cta .getit,
.cta .links {
  display: inline-block;
  vertical-align: middle;
}
.cta .getit img,
.cta .links img {
  max-width: 85%;
}
.cta .links a {
  display: block;
}
.cta .links a.first {
  margin-bottom: 10px;
}
@media only screen and (min-width: 480px) {
  .cta {
    padding: 30px 0;
  }
  .cta .getit img,
  .cta .links img {
    max-width: 100%;
  }
  .cta .getit img {
    margin-right: 20px;
  }
}
/* Grids */
.site {
  /* padding: 0 20px; */
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .site {
    width: 750px;
  }
}
div.wpcf7 {
  padding: 10px 0 0 0;
  /* Contact Form 7 validation messages */
}
div.wpcf7 input[type=text],
div.wpcf7 input[type=submit],
div.wpcf7 select {
  padding: 0;
  margin: 0;
  font-size: 16px;
  display: block;
  width: 100%;
}
div.wpcf7 input[type=submit] {
  font-size: 18px;
  background-color: #33513e;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
div.wpcf7 input[type=text] {
  background-color: #dadada;
  color: #fff;
  border: none;
  padding: 7px 10px;
}
div.wpcf7 ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
div.wpcf7 ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
div.wpcf7 :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
div.wpcf7 :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
div.wpcf7 .wpcf7-not-valid-tip {
  margin-top: 5px;
}
div.wpcf7 div.wpcf7-response-output {
  margin: 0;
  padding: 10px;
}
div.wpcf7 .kampdag {
  display: block;
  padding: 5px 10px;
  margin: 0;
  border: none;
  width: 100%;
  overflow: hidden;
  background-color: #dadada;
}
div.wpcf7 .kampdag span.wpcf7-not-valid-tip {
  background-color: #fff;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -5px;
  padding-top: 5px;
}
div.wpcf7 .kampdag select {
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #dadada;
}
div.wpcf7 .kampdag select:focus {
  outline: none;
}
@media only screen and (min-width: 768px) {
  div.wpcf7 {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  div.wpcf7 input[type=text],
  div.wpcf7 select {
    font-size: 20px;
  }
  div.wpcf7 input[type=submit] {
    font-size: 24px;
  }
}
/* Top Banner */
.topbanner .title {
  border-top: 10px solid #33513e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding-top: 5px;
  color: #33513e;
}
.topbanner .image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.topbanner .content-wrapper {
  padding: 0 20px;
  margin-top: 20px;
}
.topbanner .content {
  border-top: 5px solid #dadada;
  padding-top: 10px;
}
@media only screen and (min-width: 480px) {
  .topbanner .title {
    font-size: 26px;
  }
}
@media only screen and (min-width: 768px) {
  .topbanner .title {
    font-size: 32px;
    padding-top: 10px;
    margin-bottom: -10px;
  }
}
@media only screen and (min-width: 992px) {
  .topbanner .title {
    font-size: 34px;
  }
}
.form-closed {
  border: 5px solid #dadada;
  padding: 10px;
  font-weight: bold;
}
/*
  Demo
*/
.demofunction {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
}
.demofunction:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.4);
}
.demofunction .content {
  position: relative;
  z-index: 5;
}
.demofunction h2 {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
.demofunction a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.demofunction a:hover {
  text-decoration: underline;
}
.demofunction ul {
  color: #fff;
  font-size: 11px;
  margin: 0;
  padding: 0;
}
.demofunction ul li {
  margin: 0 0 2px 25px;
}
@media only screen and (min-width: 768px) {
  .demofunction {
    width: 280px;
    padding: 5px 10px;
  }
  .demofunction ul {
    font-size: 12px;
  }
  .demofunction li {
    margin-bottom: 5px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  p:first-letter,
  div:first-letter,
  blockquote:first-letter,
  li:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=style.css.map */